<script setup lang="ts"></script>

<template>
    <div class="w-[100%] h-[calc(100vh-85px)] block md:flex">
        <aside
            class="min-h-[50%] border-blue-100 md:w-[50%] flex justify-center items-center"
        >
            <svg
                viewBox="0 0 200 200"
                xmlns="http://www.w3.org/2000/svg"
                class="max-h-[35rem]"
            >
                <path
                    fill="#0F62FE"
                    d="M40.9,-57.8C50.4,-49.5,53.6,-34,61.4,-18C69.2,-2.1,81.7,14.2,77.3,24.3C72.9,34.3,51.6,38,35.9,48.9C20.2,59.7,10.1,77.7,-2.9,81.7C-15.9,85.6,-31.8,75.6,-43.2,63.4C-54.6,51.1,-61.5,36.7,-62.6,22.8C-63.7,9,-58.9,-4.3,-56.3,-20.2C-53.7,-36.1,-53.4,-54.6,-44.4,-63C-35.4,-71.5,-17.7,-69.8,-1,-68.5C15.7,-67.1,31.5,-66.1,40.9,-57.8Z"
                    transform="translate(100 100)"
                />
            </svg>
        </aside>
        <aside class="border-blue-100 md:w-[50%] flex justify-center items-center pb-10">
            <section class="w-[70%] mx-auto">
                <h1 class="text-4xl mb-4">Lorem ipsum dolor sit.</h1>
                <p class="mb-4 font-ubuntu">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo, ratione.
                    Repellendus iusto dolore fugit excepturi a non aspernatur quis libero.
                </p>
                <div>
                    <router-link to="/photos">
                        <button
                            class="py-1 px-5 text-white mr-4 rounded-xl bg-blue-950 hover:bg-blue-950/70"
                        >
                            Photo Gallery
                        </button>
                    </router-link>
                    <button
                        class="py-1 px-5 text-white mr-4 rounded-xl bg-blue-600 hover:bg-blue-600/70"
                    >
                        button1
                    </button>
                </div>
            </section>
        </aside>
    </div>
</template>

<style></style>
