<script setup lang="ts">
import { useRouter } from "vue-router";

import PhotoCard from "@/components/PhotoCard.vue";

const router = useRouter();

function gotoSinglePhoto(id: number) {
    window.scrollTo({
        top: 0,
        behavior: "smooth",
    });

    router.push({ path: `/photos/${id}` });
}
</script>

<template>
    <section
        class="photos-views flex flex-wrap justify-center md:justify-between p-7 cursor-pointer"
    >
        <PhotoCard
            v-for="(photo, index) of 9"
            :key="index"
            @click="gotoSinglePhoto(index + 1)"
        />
    </section>
</template>
