<script setup lang="ts">
// interface PostData{
//     userId: number;
//     id: number;
//     title: string;
//     body: string;
// }

// interface PostProps {
//     userId: {
//         type: number;
//         required: false;
//     };
//     id: {
//         type: number;
//         required: false;
//     };
//     title: {
//         type: string;
//         required: false;
//     };
//     body: {
//         type: string;
//         required: false;
//     };
// }

const emit = defineEmits<{
    (emit: "close"): void;
}>();

function closeModal() {
    emit("close");
}

const props = defineProps<{
    product?: {
        userId: number;
        id: number;
        title: string;
        body: string;
    };
}>();
</script>

<template>
    <section class="single-product">
        <div
            @click="closeModal"
            class="background-layer bg-slate-700/50 fixed top-0 left-0 w-full h-[100vh] z-20"
        >
            <div
                @click.stop=""
                class="bg-white font-ubuntu text-lg shadow-2xl w-[50%] min-w-[25rem] max-w-[55rem] mt-10 rouded-xl mx-auto px-3 py-5 rounded-xl"
            >
                <span
                    @click="closeModal"
                    class="text-red-900 font-extrabold px-4 py-2 cursor-pointer rounded-md hover:bg-red-500 hover:text-white"
                    >X</span
                >
                <div class="bg-gray-200 text-sm py-1 px-3 rounded-md mt-3">
                    Post ID: {{ props.product?.id }}
                </div>

                <h2 class="text-xl mt-5">
                    {{ props.product?.title }}
                </h2>
                <p>
                    {{ props.product?.body }}
                </p>
                <br />
                <small> #user{{ props.product?.userId }} </small>
            </div>
        </div>
    </section>
</template>
