<script setup lang="ts">
import { ref, watch, onMounted, computed } from "vue";

import Footer from "@/components/Footer.vue";
import Pagination from "@/components/Pagination.vue";
import Loader from "@/components/Loader.vue";
// import CardProduct from "@/components/CardProduct.vue";
// import PostProduct from "@/views/PostProduct.vue";

// interface Data {
//     id: number;
//     title: string;
//     [key: string]: unknown;
// }

interface PostData {
    userId: number;
    id: number;
    title: string;
    body: string;
}

// const dataList = ref<Data[]>();
const selectData = ref("posts");
const postList = ref<PostData[]>();
const isLoading = ref(false);
const basisIndex = ref(0);

// const bases = ["basis-1/2", "basis-1/3", "basis-1/4", "basis-1/5"];
// const currentItem = ref<PostData>();
// const showPrevProd = ref(false);

// const basis = computed(() => {
//     return bases[basisIndex.value];
// });

// const toggleBasis = () => {
//     basisIndex.value = (basisIndex.value + 1) % bases.length;
// };

function fetchData(param: string) {
    console.log(param);
    isLoading.value = true;

    fetch(`https://jsonplaceholder.typicode.com/${param}`)
        .then((res) => res.json())
        .then((data) => {
            if (param === "posts") {
                postList.value = data;
            }

            // dataList.value = data;
        })
        .catch((error) => console.log(error))
        .finally(() => {
            isLoading.value = false;
        });
}

function deletePost(id: number) {
    // I could use provide inject for this 🙄;
    let text = "Are You Sure Youe want to Delete it?";
    if (confirm(text) == true) {
        postList.value = postList.value?.filter((post) => post.id !== id);
        text = "Deleted!!!";
    } else {
        text = "Canceled";
    }
}

watch(selectData, (newValue, oldValue) => {
    fetchData(newValue);
});

onMounted(() => {
    fetchData(selectData.value);
});
</script>

<template>
    <section class="products px-6 py-3 min-h-[100vh]">
        <h1>
            Fetch Data Using JsonPlaceHolder
            <a href="https://jsonplaceholder.typicode.com/">
                https://jsonplaceholder.typicode.com/
            </a>
        </h1>

        <section>
            <select
                name=""
                id=""
                class="w-[15rem] bg-blue-300 rounded-xl px-3 py-2 my-3"
                v-model="selectData"
            >
                <option value="posts">posts</option>
                <option value="albums">albums</option>
                <option value="todos">todos</option>
                <!-- <option value="comments">comments</option> -->
                <!-- <option value="users">users</option> -->
            </select>
            <span @click="basisIndex++" class="p-5 text-2xl cursor-pointer">🔄</span>
        </section>

        <Loader v-if="isLoading" />

        <!-- <div class="block md:flex flex-wrap" v-else>
            <CardProduct
                :class="`${basis}`"
                class="min-h-full cursor-pointer"
                v-for="product of postList"
                @click="
                    currentItem = product;
                    showPrevProd = true;
                "
                :key="product.id"
            >
                <template #title>
                    <span class="px-4 py-1 rounded-md bg-gray-900 text-white">
                        {{ product.id }}
                    </span>
                </template>

                <template #body>
                    {{ product.title }}
                </template>
            </CardProduct>
        </div>

        <PostProduct
            :product="currentItem"
            v-if="showPrevProd"
            @close="showPrevProd = false"
        /> -->

        <Pagination
            v-if="postList !== undefined && !isLoading"
            :items-per-page="20"
            :items="postList"
            :items-per-row="basisIndex"
            @delete-post="deletePost"
        />
    </section>

    <Footer />
</template>
