<script setup lang="ts">
// We can call api base on route.params.photoId
</script>

<template>
    <section class="single-photo lg:flex p-5 min-h-[88vh] text-white relative">
        <div
            class="w-[100%] lg:w-[60%] lg:flex lg:justify-center text-center bg-blue-400 p-5 relative rounded-t-xl lg:rounded-l-xl"
        >
            <img
                class="rounded-xl m-auto"
                width="100%"
                src="https://img.freepik.com/free-vector/gradient-tropical-sunset-background_52683-131844.jpg"
                alt=""
            />
        </div>
        <div
            class="pt-20 pb-10 lg:pb-0 lg:pt-0 w-[100%] lg:w-[40%] bg-blue-900 flex items-center justify-center relative  rounded-b-xl lg:rounded-r-xl "
        >
            <span
                class="cursor-pointer hover:bg-white hover:text-black absolute py-2 px-4 rounded-full bg-black top-7 right-7 text-white"
                >Photo ID : {{ $route.params.photoId }}</span
            >
            <router-link to="/photos">
                <span
                    class="cursor-pointer hover:bg-white hover:text-black absolute py-2 px-4 rounded-full bg-black top-7 left-7 text-white"
                >
                    Back
                </span>
            </router-link>
            <div class="p-5">
                <h2 class="text-4xl font-ubuntu mb-5">Lorem ipsum dolor</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem alias
                    molestiae nam aliquid reiciendis nesciunt, sint cum quibusdam porro
                    magnam voluptatum sapiente voluptatem labore facilis.
                </p>
            </div>
        </div>
    </section>
</template>
