<script setup lang="ts">

import { computed, ref } from "vue";

const showDetail = ref(false);

const props = defineProps<{
    productId: number
}>()

const emit = defineEmits<{
    (e: "deletePost", productId: number): void;
}>()

function deletePost(){
    emit('deletePost', props.productId);
}

</script>

<template>
    <div class="p-1 self-stretch">

        <div
            class="card-product m-2 pb-10 pt-3 rounded-xl min-h-[95%] bg-blue-100 shadow-lg px-2 relative"
            @mouseover="showDetail = true"
            @mouseleave="showDetail = false"
        >
            <div class="title">
                <slot name="title"></slot>
            </div>
            <div class="main-body-card mt-5">
                <span class="font-bold text-xl">Title: </span><slot name="body"></slot>
                <div class="text-right absolute right-2 bottom-2" v-show="showDetail">
                    <button
                        @click.stop="deletePost"
                        class="px-7 py-1 bg-red-500 rounded-md mr-2 hover:bg-red-700 text-white"
                    >
                        <svg
                            xmlns="http://www.w3.org/2000/svg"
                            x="0px"
                            y="0px"
                            width="20"
                            height="20"
                            viewBox="0 0 30 30"
                        >
                            <path
                                d="M 13 3 A 1.0001 1.0001 0 0 0 11.986328 4 L 6 4 A 1.0001 1.0001 0 1 0 6 6 L 24 6 A 1.0001 1.0001 0 1 0 24 4 L 18.013672 4 A 1.0001 1.0001 0 0 0 17 3 L 13 3 z M 6 8 L 6 24 C 6 25.105 6.895 26 8 26 L 22 26 C 23.105 26 24 25.105 24 24 L 24 8 L 6 8 z"
                            ></path>
                            {{ props.productId }}
                        </svg>
                    </button>
                    <!-- <button
                        @click.stop=""
                        class="px-7 py-1 bg-blue-700 rounded-md mr-2 hover:bg-blue-900 text-white"
                    >
                        2
                    </button> -->
                </div>
            </div>
        </div>
    </div>
</template>
