<script setup lang="ts">
import { ref, type Ref } from "vue";
import { RouterLink, RouterView } from "vue-router";
import { useAuthStore } from "@/stores/auth";

import LoginSignup from "@/components/LoginSignup.vue";

const showMoibleMenu = ref(false);
const showModal = ref(false);
const authStore = useAuthStore();

function closeModal() {
    showModal.value = false;
    authStore.loginModalOpen = false;
    authStore.loginMsg = "";
}

function logout() {
    authStore.logoutAction();
    showMoibleMenu.value = false;
}
</script>

<template>
    <header
        class="bg-blue-700/90 rounded-xl mt-1 mx-1 md:mt-3 md:mx-5 p-3 font-ubuntu sticky top-1 z-10"
    >
        <div class="mx-2 px-4 w-full">
            <div class="flex items-center justify-between py-2">
                <div>
                    <a href="/" class="text-black font-bold text-xl">BRAND</a>
                </div>

                <div class="hidden md:block">
                    <nav class="flex items-center text-black">
                        <RouterLink
                            active-class="active"
                            to="/"
                            href="#"
                            class="hover:text-gray-200 mx-5"
                            >Home</RouterLink
                        >
                        <RouterLink
                            active-class="active"
                            to="/products"
                            href="#"
                            class="hover:text-gray-200 mx-5"
                            >Posts</RouterLink
                        >
                        <span
                            v-if="!authStore.isLogged"
                            active-class="active"
                            to="/login"
                            @click="showModal = true"
                            class="hover:text-gray-200 mx-5 cursor-pointer"
                            >Login / Signup</span
                        >
                        <span
                            v-else
                            @click="logout"
                            class="hover:text-gray-200 mx-5 cursor-pointer"
                        >
                            Logout
                        </span>
                    </nav>
                </div>

                <div
                    v-if="showMoibleMenu"
                    class="mobile-menu md:hidden fixed top-[4.75rem] right-[0.25rem] rounded-xl z-20"
                >
                    <nav
                        class="flex flex-col bg-blue-700/90 items-center text-white rounded-xl px-2"
                    >
                        <RouterLink
                            @click="showMoibleMenu = false"
                            active-class="active"
                            to="/"
                            href="#"
                            class="py-2 w-full text-center hover:bg-blue-500 rounded-md bg-blue-600/90 mt-2 hover:text-gray-200 mx-5"
                            >Home
                        </RouterLink>
                        <RouterLink
                            @click="showMoibleMenu = false"
                            active-class="active"
                            to="/products"
                            href="#"
                            class="py-2 w-full text-center hover:bg-blue-500 rounded-md bg-blue-600/90 mt-2 hover:text-gray-200 mx-5"
                            >Products
                        </RouterLink>
                        <span
                            v-if="!authStore.isLogged"
                            active-class="active"
                            to="/login"
                            @click="showModal = true; showMoibleMenu = false"
                            class="py-2 w-full text-center hover:bg-blue-500 rounded-md bg-blue-600/90 mt-2 mb-2 hover:text-gray-200 mx-5"
                            >Login / Signup</span
                        >
                        <span
                            v-else
                            @click="logout"
                            class="py-2 w-full text-center hover:bg-blue-500 rounded-md bg-blue-600/90 mt-2 mb-2 hover:text-gray-200 mx-5"
                        >
                            Logout
                        </span>
                    </nav>
                </div>

                <div class="block md:hidden" @click="showMoibleMenu = !showMoibleMenu">
                    <button class="text-white focus:outline-none"> MENU &#8801; </button>
                </div>
            </div>
        </div>
    </header>

    <LoginSignup :showModal="showModal" @close="closeModal" class="z-30" />
</template>
