<script setup lang="ts">
import { ref } from "vue";
// import { defineProps, defineEmits } from "vue";
import { useAuthStore } from "@/stores/auth";

const auth = useAuthStore();
const username = ref("");
const pass = ref("");

defineProps<{
    showModal: boolean;
}>();

const emit = defineEmits<{
    (emit: "close"): void;
}>();

function closeModal() {
    emit("close");
}

function loginAction() {
    //validation
    const loginStatus = auth.loginAction(username.value, pass.value);
    if (loginStatus) {
        closeModal();
    } else {
        auth.loginMsg = "Wrong username OR password!!";
    }
}
</script>

<template>
    <div
        class="bg-gray-200/70 font-sans text-gray-700 fixed top-0 left-0 w-full h-full"
        v-if="showModal || auth.loginModalOpen"
    >
        <div class="container mx-auto p-8 flex">
            <div class="max-w-md w-full mx-auto">
                <div class="bg-white rounded-xl overflow-hidden shadow-2xl">
                    <div
                        class="pt-5 pl-7 rounded-full text-red-800 font-extrabold cursor-pointer"
                        @click="closeModal"
                    >
                        X
                    </div>
                    <small class="text-center text-red-600 font-bold block">
                        {{ auth.loginMsg }}
                    </small>
                    <h1 class="text-4xl text-center mb-0 font-extrabold mt-5">Login</h1>
                    <div class="p-8">
                        <form method="POST" class="" action="#" onsubmit="return false;">
                            <div class="mb-5">
                                <label
                                    for="email"
                                    class="block mb-2 text-sm font-medium text-gray-600"
                                    >Username</label
                                >

                                <input
                                    v-model.trim="username"
                                    type="text"
                                    name="email"
                                    class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none"
                                />
                            </div>

                            <div class="mb-5">
                                <label
                                    for="password"
                                    class="block mb-2 text-sm font-medium text-gray-600"
                                    >Password</label
                                >

                                <input
                                    v-model.trim="pass"
                                    type="text"
                                    name="password"
                                    class="block w-full p-3 rounded bg-gray-200 border border-transparent focus:outline-none"
                                />
                            </div>

                            <button
                                class="w-full p-3 mt-4 bg-blue-600 text-white rounded shadow hover:bg-blue-800"
                                @click="loginAction"
                            >
                                Login
                            </button>
                        </form>
                    </div>

                    <div
                        class="flex justify-between p-8 text-sm border-t border-gray-300 bg-gray-100"
                    >
                        <a href="#" class="font-medium text-blue-500">Create account</a>

                        <a href="#" class="text-gray-600">Forgot password?</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
