<script setup lang="ts">
import { ref, onMounted, onUnmounted } from "vue";

const props = defineProps({
  message: {
    type: String,
    required: true
  }
})

const isVisible = ref(false);

onMounted(() => {
    isVisible.value = true;
    setTimeout(() => {
        isVisible.value = false;
    }, 5000);
})

onUnmounted(() => {
  isVisible.value = false
})
</script>

<template>
    <Teleport to="#modal-area">
        <transition name="slide" class="absolute top-6 left-5">
            <div
                v-if="isVisible"
                class="px-5 py-2 border-l-2 border-l-red-600 bg-red-300 z-30 rounded-xl shadow-red-600 drop-shadow-sm"
            >
                {{ props.message }}
            </div>
        </transition>
    </Teleport>
</template>

<style scoped>
.slide-enter-active,
.slide-leave-active {
    transition: transform 0.5s;
}

.slide-enter-from,
.slide-leave-to {
    transform: translateY(-50px);
}
</style>
