<script setup lang="ts">
import { ref, computed, watch, onMounted } from "vue";

import Loader from "@/components/Loader.vue";
import CardProduct from "@/components/CardProduct.vue";
import PostProduct from "@/views/PostProduct.vue";

interface PostData {
    userId: number;
    id: number;
    title: string;
    body: string;
}

const props = defineProps({
    items: {
        // type: Array as () => unknown[] | undefined,
        type: Array as () => PostData[],
        required: true,
    },
    itemsPerPage: {
        type: Number,
        default: 10,
    },
    itemsPerRow: {
        type: Number ,
        default: 3,
    },
});

const currentPage = ref(1);

const pageCounter = computed(() => {
    return Math.ceil(props.items.length / props.itemsPerPage);
});

// const pages = computed(() => {
//   return Array.from({ length: pageCount.value }, (_, i) => i + 1);
// });

const pages = computed(() => {
    const result = [];
    for (let i = 1; i <= pageCounter.value; i++) {
        result.push(i);
    }
    return result;
});

const displayedProducts = computed(() => {
    const startIndex = (currentPage.value - 1) * props.itemsPerPage;
    const endIndex = startIndex + props.itemsPerPage;

    return props.items.slice(startIndex, endIndex);
});

function changePage(pageNumber: number) {
    currentPage.value = pageNumber;
}

watch(currentPage, () => {
    window.scrollTo({
        top: 0,
        behavior: "smooth",
    });
});

/*
    Manage Show Items
*/

const isLoading = ref(false);
const currentItem = ref<PostData>();
const showPrevProd = ref(false);

const bases = ["basis-1/2", "basis-1/3", "basis-1/4", "basis-1/5"];

const basis = computed(() => bases[(props.itemsPerRow + 1) % bases.length] );

// function toggleShowItemViews() { itemsPerRow.value = (props.itemsPerRow + 1) % bases.length }

const emit = defineEmits<{
    (e: 'deletePost', id: number): void;
}>()

function deletePost(id: number) {
    console.log(id);
    emit('deletePost', id);
}

</script>

<template>
    <Loader v-if="isLoading" />

    <div class="block md:flex flex-wrap" v-else>
        <CardProduct
            :class="`${basis}`"
            class="min-h-full cursor-pointer"

            v-for="product of displayedProducts"
            :key="product.id"

            :productId="product.id"
            @delete-post="deletePost"
            @click="
                currentItem = product;
                showPrevProd = true;
            "

        >
            <template #title>
                <span class="px-4 py-1 rounded-md bg-gray-900 text-white">
                    {{ product.id }}
                </span>
            </template>

            <template #body>
                {{ product.title }}
            </template>
        </CardProduct>
    </div>

    <PostProduct
        :product="currentItem"
        v-if="showPrevProd"
        @close="showPrevProd = false"
    />

    <div class="flex justify-center mt-20 flex-wrap">
        <button
            v-for="(pageNumber, index) of pages"
            :key="index"
            class="border py-1 px-3 rounded-md hover:bg-blue-500 hover:text-white border-blue-500 border-1 mx-1 my-1"
            :class="{ 'bg-blue-500': pageNumber === currentPage }"
            @click="changePage(pageNumber)"
        >
            {{ pageNumber }}
        </button>
    </div>
</template>
