<script setup lang="ts">
import HeaderView from './components/Header.vue'


</script>

<template>
    <main>
        <HeaderView />
        <RouterView />
    </main>
</template>

<style>
.active {
    @apply text-gray-300;
}
</style>
